.scroll-button {
    display: inline-block;
    background: #003EDD;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;

    i {
        padding: 18px;
        align-self: center;
    }
}