// .expertise-bg {
//   color: #f4f7ff;
//   font-weight: bold;
//   font-size: 96px;
//   position: absolute;
//   right: 0;
//   left: 0;
//   top:0;
//   display: block;
//   text-align: center;
//   z-index: -1;
// }

#expertise {
    overflow: auto;
    position: relative;
    padding: 70px 0;

    .title {
		text-align: center;
		position: relative;
		h3 {
			text-transform: uppercase;
			top: -.600em;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			font-size: 96px;
			color: #f4f7ff;
			z-index: -1;
		}

        h4 {
            font-weight: bold;
            font-size: 24px;
            font-family: "DM Mono", monospace;
			margin-bottom: 16px;
			color: #003edd;
        }

        p {
            margin-bottom: 32px;
        }

        .line {
            border: 3px solid #003edd;
            width: 7.9%;
            margin: auto;
        }
    }

    .techs {
		margin-top: 73px;
		padding: 0 10.000em;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px;
            justify-items: center;
            list-style-type: circle;
            list-style-position: inside;

            li {
				width: 100%;
                color: #0d053f;
                font-size: 24px;
                font-weight: bold;
				line-height: 1;
				padding-left: 4.500em;
            }
        }
    }
}